body{
	background-color: #E8E685;
}
.gif2{
	position: absolute;
	height: 600px;
	width: 1000px;
	left: 200px;
	top: 200px;
}
.p3{
	color: white;
	position: absolute;
	width: 600px;
	top: 400px;
	left: 400px;
}